html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
  font-family: 'Roboto';
}

//- HTML5 display-role reset for older browsers
main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
address,
picture,
section {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: top;
}
