.image-upload {
  &--wide {
    width: 100%;
  }

  &--wide &__preview {
    max-width: 100%;
    padding-top: 40%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__preview {
    position: relative;
    max-width: 200px;
    width: 100%;
  }
}
